numpy
scipy
scikit-learn
torch
wandb
tqdm
pyyaml
rdkit
pandas
matplotlib
fastparquet
pyarrow
transformers
seaborn
heavyball==0.0.3
gradio
py3Dmol
gradio_molecule3d
tabulate
pydot
datasets
trl
accelerate
peft