# Model Architecture
model:
  use_concat: True
  max_seq_length: 95
  max_nmr_length: 190
  max_memory_length: 32
  embed_dim: 1600
  num_heads: 16
  num_layers: 8
  dropout: 0.1
  resample_size: 1000
  use_stablemax: True

# Training Parameters
training:
  batch_size: 32
  test_batch_size: 1
  num_epochs: 10
  learning_rate: 1.0e-4
  min_learning_rate: 1.0e-5
  weight_decay: 0.01
  validation_frequency: 50
  logging_frequency: 10
  save_frequency: 1000
  save_model_frequency: 500  # How often to save model to wandb (in steps)
  greedy_decode_frequency: 100

# Optimizer Configuration
optimizer:
  type: ortho_adamw  # Use orthogonal gradient optimization
  adamw:  # Base optimizer settings
    betas: [0.9, 0.999]
    eps: 1.0e-8
    weight_decay: 0.01
    caution: false
  ortho:  # Orthogonal gradient settings
    eps: 1.0e-8
    rescale: true

# Scheduler
scheduler:
  type: cosine
  warmup_steps: 100


# Data
data:
  use_parquet: False
  data_dir: "data_extraction/multimodal_spectroscopic_dataset"
  binary_dir: "preprocessed_binaries"
  test_size: 20
  val_size: 0.001
  preprocessed: False

# Logging
wandb:
  project: "smiles-generation"
  base_run_name: "smiles_gen"
  log_examples: true 